Hello
<img src="https://auto.ndtvimg.com/car-images/medium/maruti-suzuki/baleno/maruti-suzuki-baleno.jpg?v=2" alt="Some text">
{% if submitted_data['body'] %}
  <h1>{{ submitted_data['body'] }}</h1>
{% endif %}
