{#
/**
 * @file latest_download_entity.html.twig
 * Default theme implementation to present Latest download entity data.
 *
 * This template is used when viewing Latest download entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_latest_download_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('latest_download_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
