{#
/**
 * @file log_file.html.twig
 * Default theme implementation to present Log file data.
 *
 * This template is used when viewing Log file pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_log_file()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('log_file') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
